@use "sass:map";

$navy: 				#3F546B;

// greens
$green: 			#56934E;
$light-green: #98C33E;

// grays
$light-gray: 	lighten(#DFE6EC, 5%);
$gray: 				#DFE6EC;

$colors: (
	"navy": (
		"base": $navy,
	),
	"green": (
		"base": $green,
		"light": $light-green
	),
	"gray": (
		"base": $gray,
		"light": $light-gray
	)
)