@use '../abstracts/' as *;

.footer {
	align-items: center;
	// justify-items: center;
	padding: 2em 0;

	@include mq(medium) {
			justify-items: center;
	}
}

.copyright {
	padding: .5em 0
}

.footer-grid-3 {
	display: grid;
	grid-template-columns: 1fr;

	@include mq(medium) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.footer-contact-us {
	order: 2;

	@include mq(medium) {
		order: 1;
	}
}

.footer-logo {
	max-width: 200px;
	order: 1;

	@include mq(medium) {
		order: 2;
	}
}

.footer-hours {
	order: 3;

	@include mq(medium) {
		order: 3;
	}
}